.project-container
{
    margin: 4rem 0;
    position: relative;
}

@keyframes autoShowAnimation {
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.autoShow {
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
    animation-duration: 0.5s;
}

.heading
{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.project-content 
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.projects 
{
    flex: 1;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
}